@using WebApplication3.Models
@model IEnumerable<Image>
@{
    ViewBag.Title = "Home Page";
}

@if (!Model.Any())
{
    <h1>No images</h1>
}
else
{   <ul class="first" id="sortable">

        @foreach (var img in Model)
        {

            <li id="id_@img.Id">
                <img src="@Image.ByteToString(img.Content)" width="300" height="300" />
                <p class="text">@img.Description</p>
                <a class="delete" data-img-id="@img.Id" data-img-desc="@img.Description">Delete</a>
            </li>

        }
    </ul>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script>
    $(function() {
        $('a.delete').click(function(e) {
       
            if (!confirm("Delete Image " + $(e.target).attr('data-img-desc')))
                return false;
            $.post("/home/deleteimage/" + $(e.target).attr('data-img-id')).done(function() {
                location.reload();

            });
            return true;
        });
        $('ul.first').bsPhotoGallery({
            "classes": "col-xs-4",
            "hasModal": true
        });

    });
</script>